:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #0b132a;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 1200px;
  --tablet-width: 768px;
  --timing-animation: 0.2s;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  background-color: var(--color-off-white);
  color: var(--color-very-dark-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
}

.button {
  padding: 1.2rem 7.4rem;
  border-radius: var(--default-radius);
  background-color: var(--color-soft-red);
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  transition: all var(--timing-animation) ease-in-out;
  box-shadow: 0 2.4rem 3.8rem 0.1rem rgba(245, 56, 56, 0.35);
}

.header {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*position: sticky;*/
  top: 0px;
  z-index: 1;
}
@media (max-width: 900px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--default-padding);
  }
}

.header::before {
  content: "";
  position: absolute;
  border-bottom: 0.1rem solid var(--color-input-border);
  height: 100%;
  width: 100vw;
  top: 0;
  z-index: -1;
  background-color: var(--color-background);
}

.navigation {
  transition: var(--transition-timing);
}

.navigation__list {
  display: flex;
  gap: 2rem;
}
@media (max-width: 600px) {
  .navigation__list {
    gap: 1rem;
    font-size: 1.4rem;
  }
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
}

.burger-menu__checkbox {
  display: none;
}

.container:has(.bio:target) .navigation__bio,
.container:has(.skills:target) .navigation__skills,
.container:has(.media:target) .navigation__media,
.container:has(.projects:target) .navigation__projects,
.container:has(.clients:target) .navigation__clients,
.container:has(.contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}

.sign {
  display: flex;
  gap: var(--default-padding);
  align-items: center;
}
.sign__in {
  font-weight: bold;
}
.sign__up {
  padding: 0.8rem 3rem;
  border: 1px solid var(--color-soft-red);
  border-radius: 2.4rem;
  color: var(--color-soft-red);
}

/*    section      */
.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 4);
  margin: var(--default-padding) 0;
}
@media (max-width: 900px) {
  .section {
    flex-direction: column;
    gap: var(--default-padding);
  }
}
.section--one--column {
  flex-direction: column;
  gap: calc(var(--default-padding) / 2);
}
.section__image {
  max-width: 100%;
}
.section__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: calc(var(--default-padding) / 2);
}
@media (max-width: 900px) {
  .section__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.section:nth-of-type(1) .section__title {
  font-size: 5rem;
}
.section__title {
  font-size: 3.5rem;
}
.section__description {
  font-size: 1.6rem;
  color: var(--color-grayish-blue);
}
.section--one--column .section__description {
  max-width: 50rem;
  text-align: center;
}
.section__imageContent {
  display: flex;
  flex: 1;
}
@media (max-width: 900px) {
  .section__imageContent {
    display: flex;
    flex: 1;
    order: -1;
  }
}
.section__buttons {
  display: flex;
  gap: var(--default-padding);
  margin-top: var(--default-padding);
}
.section__button {
  padding: 1.2rem 7.4rem;
  border-radius: var(--default-radius);
  background-color: var(--color-soft-red);
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  transition: all var(--timing-animation) ease-in-out;
  box-shadow: 0 2.4rem 3.8rem 0.1rem rgba(245, 56, 56, 0.35);
}

.center {
  text-align: center;
}

.rowul {
  display: flex;
  justify-content: center;
  gap: 9rem;
  box-shadow: 0 1rem 0.8rem 0 rgba(147, 145, 145, 0.35);
  margin-top: calc(var(--default-padding) * 2) 0;
}
@media (max-width: 900px) and (min-width: 600px) {
  .rowul {
    gap: 0;
  }
}
@media (max-width: 600px) {
  .rowul {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}
.rowul .emg {
  max-width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  .rowul .emg {
    max-width: 5.5rem;
    max-height: 5.5rem;
  }
}

.content {
  display: flex;
  gap: var(--default-padding);
  justify-items: center;
  padding: calc(var(--default-padding) * 2);
}
@media (max-width: 900px) {
  .content {
    padding: var(--default-padding);
  }
}

.border {
  border-left: 2px solid rgb(238, 239, 242);
  border-right: 2px solid rgb(238, 239, 242);
  padding-left: 12rem;
  padding-right: 12rem;
}
@media (max-width: 900px) {
  .border {
    gap: 0;
    padding: var(--default-padding);
  }
}
@media (max-width: 600px) {
  .border {
    border-right: 0;
  }
}

.rowli {
  justify-content: center;
}
.rowli__num {
  font-weight: bold;
  font-size: 2.5rem;
}
.rowli__name {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-grayish-blue);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--default-padding);
}
.list__li {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1.5;
}
.list__p {
  display: inline-block;
  margin: 0;
}

/* S list */
.cards {
  display: flex;
  margin: 4rem 0;
  flex-wrap: wrap;
  gap: calc(var(--default-padding) * 4);
}
@media (max-width: 900px) {
  .cards {
    flex-wrap: wrap;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-padding);
  padding: var(--default-padding);
  border: 2px solid rgb(238, 239, 242);
  border-radius: var(--default-radius);
}
@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}
.card:last-of-type {
  border: 2px solid var(--color-soft-red);
}

.bt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.centear {
  align-items: center;
}

/* end S list */
@media (max-width: 900px) {
  .bigimg {
    display: none;
  }
}

/* s slider */
.imgs {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
}
@media (max-width: 900px) {
  .imgs {
    display: flex;
    flex-direction: column;
  }
}

/* */
/**/
.testimonials {
  padding: 4rem 0;
  text-align: center;
}
.testimonials .section__title {
  margin-bottom: var(--default-padding);
}
.testimonials .section__description {
  margin-bottom: var(--default-padding);
}
.testimonials .testimonials__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--default-padding);
}
@media (max-width: 900px) {
  .testimonials .testimonials__wrapper {
    flex-wrap: wrap;
    text-align: center;
  }
}
.testimonials .testimonial {
  border: 2px solid rgb(238, 239, 242);
  border-radius: var(--default-radius);
  padding: var(--default-padding);
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
@media (max-width: 900px) and (min-width: 600px) {
  .testimonials .testimonial {
    width: 80%;
    flex-direction: column;
    margin-left: calc(var(--default-padding) * 4);
  }
}
.testimonials .testimonial .info {
  display: flex;
  gap: var(--default-padding);
  margin-bottom: 1rem;
}
.testimonials .testimonial__image {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-bottom: var(--default-padding);
}
.testimonials .testimonial__info {
  margin-bottom: var(--default-padding);
}
.testimonials .testimonial .testimonial__rating {
  padding-left: 4rem;
  font-size: 14px;
  color: #ffa500;
}
.testimonials .testimonial .testimonial__rating .star {
  color: #ffa500;
}
.testimonials .testimonial__text {
  font-size: 1.4rem;
}
.testimonials .testimonials__controls {
  display: flex;
  justify-content: space-between;
  margin: var(--default-padding);
}
.testimonials .testimonials__controls .testimonials__dots {
  display: flex;
  gap: calc(var(--default-padding) / 4);
}
.testimonials .testimonials__controls .testimonials__dots .dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid rgb(238, 219, 242);
  background-color: var(--color-off-white);
}
.testimonials .testimonials__controls .testimonials__dots .dot.active {
  background: var(--color-soft-red);
}
.testimonials .testimonials__controls .testimonials__arrows {
  display: flex;
  gap: calc(var(--default-padding) / 2);
}
.testimonials .testimonials__controls .testimonials__arrows .arrow {
  border: 1px solid rgb(238, 219, 242);
  color: var(--color-soft-red);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.testimonials .testimonials__controls .testimonials__arrows .arrow.active {
  background: var(--color-soft-red);
  color: var(--color-off-white);
}

/*  */
.new-section {
  display: flex;
  padding: var(--default-padding);
  text-align: center;
  box-shadow: 0 1rem 0.8rem 0 rgb(147, 145, 145);
  max-width: 100rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 12rem;
  margin-bottom: -10rem;
}
@media (max-width: 900px) and (min-width: 600px) {
  .new-section {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .new-section {
    flex-direction: column;
    margin: 0;
  }
}
.new-section__row {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.new-section .section__title {
  color: var(--color-very-dark-blue);
  margin-bottom: var(--default-padding);
}
.new-section .section__description {
  color: var(--color-grayish-blue);
  margin-bottom: var(--default-padding);
}

/* Footer */
.footer {
  color: var(--color-off-white);
  padding: var(--default-padding);
}
.footer .footer__socials {
  margin-top: var(--default-padding);
}
@media (max-width: 900px) {
  .footer .footer__socials {
    display: flex;
    max-width: 5rem;
  }
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: var(--desktop-width);
  margin: 10rem auto;
}
.footer .footer__content > div {
  flex: 1;
  margin: var(--default-padding);
}
.footer .footer__content .footer__logo p {
  color: var(--color-grayish-blue);
}
.footer .footer__content .footer__links h3 {
  color: var(--color-very-dark-blue);
  margin-bottom: var(--default-padding);
}
.footer .footer__content .footer__links a {
  display: block;
  color: var(--color-grayish-blue);
  margin-bottom: calc(var(--default-padding) / 2);
  text-decoration: none;
}
.footer .footer__content .footer__links a:hover {
  color: var(--color-soft-red);
}/*# sourceMappingURL=style.css.map */