:root {
  --color-soft-blue: #5368df;
  --color-soft-red: #fa5757;
  --color-grayish-blue: #9194a1;
  --color-very-dark-blue: #0b132a;
  --color-off-white: #f7f7f7;
  --default-padding: 2rem;
  --default-radius: 0.4rem;
  --desktop-width: 1200px;
  --tablet-width: 768px;
  --timing-animation: 0.2s;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  background-color: var(--color-off-white);
  color: var(--color-very-dark-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */

.container {
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 0 var(--default-padding);
}
.button {
  padding: 1.2rem 7.4rem;
  border-radius: var(--default-radius);
  background-color: var(--color-soft-red);
  color: var(--color-off-white);
  font-weight: 500;
  font-size: 1.2rem;
  transition: all var(--timing-animation) ease-in-out;
  box-shadow: 0 2.4rem 3.8rem 0.1rem rgba(245, 56, 56, 0.35);
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: var(--default-padding);
  margin-bottom: calc(var(--default-padding) * 2);
}

.logoContent {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 500;

  &__logo {
    width: 14rem;
    max-width: 100%;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-padding);

  &__link {
    color: var(--color-very-dark-blue);
    transition: color var(--timing-animation) ease-in-out;

    &:hover {
      color: var(--color-soft-red);
    }
  }
}

.sign {
  display: flex;
  gap: var(--default-padding);
  align-items: center;

  &__in {
    font-weight: bold;
  }

  &__up {
    padding: 0.8rem 3rem;
    border: 1px solid var(--color-soft-red);
    border-radius: 2.4rem;
    color: var(--color-soft-red);
  }
}

/*    section      */

.section {
  display: flex;
  align-items: center;
  gap: calc(var(--default-padding) * 4);
  margin: var(--default-padding) 0;

  &--one--column {
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &__image {
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: calc(var(--default-padding) / 2);
  }

  &:nth-of-type(1) &__title {
    font-size: 5rem;
  }

  &__title {
    font-size: 3.5rem;
  }

  &__description {
    font-size: 1.6rem;
    color: var(--color-grayish-blue);

    .section--one--column & {
      max-width: 50rem;
      text-align: center;
    }
  }

  &__imageContent {
    display: flex;
    flex: 1;
  }

  &__buttons {
    display: flex;
    gap: var(--default-padding);
    margin-top: var(--default-padding);
  }

  &__button {
    padding: 1.2rem 7.4rem;
    border-radius: var(--default-radius);
    background-color: var(--color-soft-red);
    color: var(--color-off-white);
    font-weight: 500;
    font-size: 1.2rem;
    transition: all var(--timing-animation) ease-in-out;
    box-shadow: 0 2.4rem 3.8rem 0.1rem rgba(245, 56, 56, 0.35);
  }
}

.center {
  text-align: center;
}

.rowul {
  display: flex;
  justify-content: center;
  gap: 9rem;
  box-shadow: 0 1rem 0.8rem 0 rgba(147, 145, 145, 0.35);
  margin-top: calc(var(--default-padding) * 2);
  .emg {
    max-width: 100%;
    height: auto;
  }
}

.content {
  display: flex;
  gap: 2rem;
  justify-items: center;
  padding: calc(var(--default-padding) * 2);
}

.border {
  border-left: 2px solid rgba(238, 239, 242, 1);
  border-right: 2px solid rgba(238, 239, 242, 1);
  padding-left: 12rem;
  padding-right: 12rem;
}

.rowli {
  justify-content: center;

  &__num {
    font-weight: bold;
    font-size: 2.5rem;
  }

  &__name {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-grayish-blue);
  }
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--default-padding);

  &__li {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 1.5;
  }

  &__p {
    display: inline-block;
    margin: 0;
  }
}

/* S list */
.cards {
  display: flex;
  margin: 4rem 0;
  flex-wrap: wrap;
  gap: calc(var(--default-padding) * 4);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-padding);
  padding: var(--default-padding);
  border: 2px solid rgba(238, 239, 242, 1);
  border-radius: var(--default-radius);

  &:last-of-type {
    border: 2px solid var(--color-soft-red);
  }
}

.bt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.centear {
  align-items: center;
}

/* end S list */

/* s slider */
.imgs {
  display: flex;
  align-items: center;
  gap: var(--default-padding);
}
/* */
/**/
.testimonials {
  padding: 4rem 0;
  text-align: center;

  .section__title {
    margin-bottom: var(--default-padding);
  }

  .section__description {
    margin-bottom: var(--default-padding);
  }

  .testimonials__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: var(--default-padding);
  }

  .testimonial {
    border: 2px solid rgba(238, 239, 242, 1);
    border-radius: var(--default-radius);
    padding: var(--default-padding);
    width: 40rem;
    height: 20rem;
    display: flex;
    flex-direction: column;

    text-align: left;
    .info {
      display: flex;
      gap: var(--default-padding);
      margin-bottom: 1rem;
    }

    &__image {
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      margin-bottom: var(--default-padding);
    }

    &__info {
      margin-bottom: var(--default-padding);
    }
    .testimonial__rating {
      padding-left: 4rem;
      font-size: 14px;
      color: #ffa500;

      .star {
        color: #ffa500;
      }
    }

    &__text {
      font-size: 1.4rem;
    }
  }

  .testimonials__controls {
    display: flex;
    justify-content: space-between;
    margin: var(--default-padding);

    .testimonials__dots {
      display: flex;
      gap: calc(var(--default-padding) / 4);

      .dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid rgba(238, 219, 242, 1);
        background-color: var(--color-off-white);

        &.active {
          background: var(--color-soft-red);
        }
      }
    }

    .testimonials__arrows {
      display: flex;
      gap: calc(var(--default-padding) / 2);

      .arrow {
        border: 1px solid rgba(238, 219, 242, 1);
        color: var(--color-soft-red);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.active {
          background: var(--color-soft-red);
          color: var(--color-off-white);
        }
      }
    }
  }
}

/*  */
.new-section {
  display: flex;
  padding: var(--default-padding);
  text-align: center;
  box-shadow: 0 1rem 0.8rem 0 rgba(147, 145, 145);

  max-width: 100rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 12rem;
  margin-bottom: -10rem;

  &__row {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
  }
  .section__title {
    color: var(--color-very-dark-blue);
    margin-bottom: var(--default-padding);
  }

  .section__description {
    color: var(--color-grayish-blue);
    margin-bottom: var(--default-padding);
  }
}

/* Footer */
.footer {
  color: var(--color-off-white);
  padding: var(--default-padding);
  .footer__socials {
    margin-top: var(--default-padding);
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: var(--desktop-width);
    margin: 10rem auto;

    & > div {
      flex: 1;
      margin: var(--default-padding);
    }

    .footer__logo {
      p {
        color: var(--color-grayish-blue);
      }
    }

    .footer__links {
      h3 {
        color: var(--color-very-dark-blue);
        margin-bottom: var(--default-padding);
      }
      a {
        display: block;
        color: var(--color-grayish-blue);
        margin-bottom: calc(var(--default-padding) / 2);
        text-decoration: none;

        &:hover {
          color: var(--color-soft-red);
        }
      }
    }
  }
}
